@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --navy: #009;
  --light: #f6f1ee;
  --dark: #d2b9a6;
  --accent: #f2ece7;
  --muted: #4e5456;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navy: var(--navy);
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
